* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  outline: 0;
}

header {
  padding-top: 12px;
}

header .container {
  max-width: 1170px;
  margin: 0 auto;
}

header .container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header__nav .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .header__nav .header__menu .page {
  margin-right: 60px;
  list-style-type: none;
}

header .container .header__nav .logo {
  margin: 0 auto;
  text-decoration: none;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E;
}

header .container .header__nav .buy {
  margin-left: auto;
  border: 0;
  height: 26px;
  width: 160px;
  border-radius: 2px;
  background: #111B47;
  color: white;
}

header .container .header__content {
  padding-top: 200px;
  padding-bottom: 379px;
}

header .container .header__content .content__info {
  height: 421px;
  max-width: 539.37353515625px;
}

header .container .header__content .content__info .content__title {
  max-width: 539px;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
}

header .container .header__content .content__info .content__text {
  max-width: 539px;
  max-height: 164px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #505F98;
}

header .container .header__content .content__info .content__wrapper {
  padding-top: 69px;
}

header .container .header__content .content__info .content__wrapper .content__desc {
  margin-right: 30.15px;
  color: white;
  border: 0;
  background: #111B47;
  border-radius: 2px;
  height: 36px;
  width: 189px;
}

header .container .header__content .content__info .content__wrapper .content__more {
  border: 0;
  border: 2px solid #091133;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  height: 36px;
  width: 189px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
  header .container .header__nav .logo {
    margin-right: 0;
  }
  header .container .header__nav .header__menu {
    display: none;
  }
  header .container .header__nav .buy {
    display: none;
  }
  main {
    display: table-cell;
    vertical-align: middle;
  }
  main .burger {
    width: 60px;
    height: 60px;
    display: block;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }
  .burger > span {
    display: block;
    position: relative;
    width: 45px;
    height: 5px;
    margin: 10px auto;
    background-color: black;
    border-radius: 10px;
  }
  .burger > span#sp1 {
    -webkit-transition: all .3s .5s;
    transition: all .3s .5s;
  }
  .burger > span#sp2 {
    -webkit-transition: all .3s .3s;
    transition: all .3s .3s;
  }
  .burger > span#sp3 {
    -webkit-transition: all .3s .1s;
    transition: all .3s .1s;
  }
  .burger.active > span#sp1 {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    -webkit-transition: all .3s .1s;
    transition: all .3s .1s;
  }
  .burger.active > span#sp2 {
    background-color: white;
    -webkit-transform: translateY(-38px) rotateZ(45deg);
            transform: translateY(-38px) rotateZ(45deg);
    -webkit-transition: all .3s .3s;
    transition: all .3s .3s;
  }
  .burger.active > span#sp3 {
    background-color: white;
    -webkit-transform: translateY(-53px) rotateZ(-45deg);
            transform: translateY(-53px) rotateZ(-45deg);
    -webkit-transition: all .3s .5s;
    transition: all .3s .5s;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .header__content .content__info .content__title {
    text-align: center;
  }
  .header__content .content__info .content__text {
    text-align: justify;
  }
}
/*# sourceMappingURL=style.css.map */